EXPO_PUBLIC_SUPABASE_URL=https://sfvqzzhbsxbxwogqecxa.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmdnF6emhic3hieHdvZ3FlY3hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU1NjM1NjEsImV4cCI6MjA4MTEzOTU2MX0.dYx-lLqc4di951hWRjnTYzxbh1MkApBgKE_k9GCCxnI
